.settings_container{
    margin-left: 190px;
    width: 60%;
}
.profile__photo__container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid rgb(0,0,0,0.5);
    height: 150px;
    align-items: center;
}
.profile__photo__container>button{
    height: fit-content;
    padding: 6px 15px;
    border-radius: 15px;
    font-weight: bold;
    font-size: medium;
    color: #ffffff;
    background-color: rgb(20,99,255);
    outline: none;
    border: none;
}
.profile__photo__container>img{
    border-radius: 50%;
    height: 100px;
}