.link__holder{
    border-radius: 10px;
    padding: 30px 5px 30px 5px;
    display: flex;
    margin: 5px 10px 15px 5px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(0,0,0,0.1);

}
.link__holder_left{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 10px;
}
.link__holder__originalUrl{
    line-break: anywhere;
    margin-right: 10px;
}
.link__holder_left>*{
    line-height: 3;
}

.link__holder_right{
    gap: 6px;
    display: flex;
}
.link__holder_right>button{
    background-color: rgb(20,99,255);
    color: white;
    padding: 3px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}