.aside__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    margin-left: 20px;
    margin-top: 50px;
}
.aside__container>*{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;

}
.aside__container>div>h2{
    color: rgb(0,0,0,0.7);
    font-weight: normal;
}
.link__icon__logo{
    color: rgb(255, 101, 0);
    height: 50px;
}
.log_out{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}
.sidebar{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 999;
    height: 100vh;
    padding: 15px;
    top: 0;
    display: flex;
    color: rgb(20,99,255);
    flex-direction: column;
}
.logo{

    font-size: 20px;
}
.logo__name{
    display: flex;
    align-items: flex-start;
}