@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Geist+Mono:wght@100..900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Just+Another+Hand&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,Aldrich,"serif";
}
a{
    color: rgb(0,0,0,0.7);
    text-decoration: none;
}
